*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor{

  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow: hidden;
}
.header {
  background: #373b4490;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f482, #373b4468);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.nav-link {
  color: rgb(9, 4, 97);
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 15px;
  margin: 0px 5px;
  padding: 3px 5px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.ingresar{
  color:white;
  text-decoration: none;
  background-color: rgb(63, 100, 194);
  border-radius: 10px;
  font-size: 15px;
  margin: 0px 5px;
  padding: 10px 8px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.ingresar:active{
  color:rgb(226, 233, 23);
  text-decoration: none;
  background-color: rgb(24, 34, 219);
  border-radius: 10px;
  font-size: 15px;
  margin: 0px 5px;
  padding: 10px 8px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.nav-link:hover{
  color: rgb(9, 4, 97);
  text-decoration: none;
  background-color: rgb(213, 210, 218);
  border-radius: 10px;
  font-size: 15px;
  margin: 0px 5px;
  padding: 3px 5px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.nav-link:active{
  color: rgb(226, 233, 23);
  text-decoration: none;
  background-color: rgb(81, 63, 220);
  border-radius: 10px;
  font-size: 15px;
  margin: 0px 5px;
  padding: 3px 5px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.logo {
  height: 60px;
  margin-left:10px;
  margin-top: 10px;
  border-radius: 10px;
}
.menu {
  display: flex;
  margin-right: 40PX;
  list-style: none; 
}
.toggle {
  color: white;
  background: none;
  border: none;
  font-size: 40px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}
.sport-select{
  margin-top: 40px;
}
.titulo{
  color: #ddec09;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.main{
  width: 100%;
  background: #00b3dbd8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0084b0ca, #00b3dbab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0084b09f, #00b3dbc8),url(/assets/Background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
}
/*Comment*/